@{
    ViewData["Title"] = "Home";
}
<h2>Contract Monthly Claim System</h2>
<ul>
    <li><a href="/Home/SubmitClaim">Submit Claim</a></li>
    <li><a href="/Home/VerifyClaims">Verify & Approve Claims</a></li>
    <li><a href="/Home/UploadDocuments">Upload Supporting Documents</a></li>
    <li><a href="/Home/TrackClaims">Track Claim Status</a></li>
</ul>
